@import "tailwindcss";

@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 20s linear infinite;
  }

  .animate-scroll-left {
    animation: scroll-left 40s linear infinite;
  }

  .animate-scroll-left-delay-1 {
    animation: scroll-left 40s linear infinite;
    animation-delay: 1s;
  }

  .animate-scroll-right {
    animation: scroll-right 40s linear infinite;
  }

  .animate-scroll-right-delay-2 {
    animation: scroll-right 40s linear infinite;
    animation-delay: 2s;
  }

  .animate-scroll-left-delay-05 {
    animation: scroll-left 40s linear infinite;
    animation-delay: 0.5s;
  }

  @keyframes rotate-anticlockwise {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .animate-rotate-anticlockwise {
    animation: rotate-anticlockwise 20s linear infinite;
  }
}
